body {
  font-family: 'Raleway', sans-serif;
  color: #5f626a;
  /* background-image: url(https://thumbs.gfycat.com/GoldenHoarseFinnishspitz-size_restricted.gif); */
  background-image: url(https://i.imgur.com/GaIR8N4.gif)
  /* background-color: #f4f7fffd; */
  /* background-image: url(https://i.imgur.com/ZVw83hI.png); */
  /* background-size: 120%;
  background-position: 43%; */
}

.layer {
  /* background-color: #dcdee8; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 91%;
}

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #1f4fc0;
  position: absolute;
  left: 50%;
  top: 44%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-family: Courier New;
  font-weight: 500;
}

#navRight {
  position: fixed;
  top: 90px;
  right: 90px;
  text-align: right;
}

#navBottom {
  position: fixed;
  bottom: 90px;
  right: 90px;
}

#navButtons {
  background: none;
  border: none;
  font-size: 16px;
  color: #5f626a;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

#navButtons:hover {
  color: #1f4fc0;
}

#project {
  margin: 100px 600px 100px 100px;
  line-height: 28px;
}

a {
  color: #5f626a;
}

a:hover {
  color: #1f4fc0;
}

#slideImg {
  border-radius: 50px !important;
  width: 900px;
  height: 476px;
  border: 1px #dcdee8 solid;
}

.container {
  padding: 0;
  width: 900px;
}

